* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 860px;
    min-width: 640px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    margin: auto;
    margin-top: 1vh;
    padding: 12px 0;
}

.container form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 3.5em;
    
    max-width: 640px;
    /* background-color: blue; */
    /* margin-bottom: 12px; */
}

.container form label.error {
    font-size: 0.8em;
    color: red;
    font-weight: bolder;
    /* background-color: rgba(255, 0, 0, 0.355); */
    width: 100%;
    line-height: 0.8em;
}
/* Estilização individual do formulário */
#div_nome, #div_email {
    width: 100%;
}
#input_pqn {
    /* background-color: red; */
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

#div_tel {
    width: 8em;
}
#div_CPF{
    width: 6.2em;
}
#div_CEP {
    width: 4.8em;
}
#div_btn {
    height: 2em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#div_btn button {
    width: 25%;
}

#contatos{
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}
.contato {
    background-color: rgb(205, 255, 205);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(121, 153, 121);
    width: 300px;
    cursor: pointer;
}
.contato div {
    display: none;
}